page-partida {
  .login_page {
    background: url(../assets/img/bg.png)no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    margin: 0
  }

  .toolbar-title-md {
    font-size: 4.5rem;
    font-weight: 500;
  }

  .toolbar-title {
    color: white;
  }

  .toolbar-title-md {
    font-size: 4.5rem;
    font-weight: 500;
  }

  .toolbar-background {
    background: transparent;
    color: white;
  }
}
