page-partida {
  .login_page {
    background: url(../assets/img/bg.png)no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    margin: 0
  }

  .buttons_ranking {
    background-color: yellowgreen;
    border-radius: 10px;
    box-shadow: none;
    font-size: 1.6rem;
  }

  .buttons_Calculator-ad {
    background-color: blue;
    border-radius: 10px;
    box-shadow: none;
    font-size: 1.6rem;

  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
  }

  .toolbar-title-md {
    font-size: 3.5rem;
    font-weight: 500;
  }

  .toolbar-title {
    color: white;
  }

  .toolbar-title-md {
    font-size: 4.5rem;
    font-weight: 500;
  }

  .toolbar-background {
    background: transparent;
    color: white;
  }
}
