page-menu {
	.toolbar-title{
		color: white;
	}
	.toolbar-background{
		background:#211d70;
		color: white;
	}
	.back-button-icon{
		color:white;
	}

	.texto {
		color: #000 !important;
		font-size: 1.6em;
	}

	.Content{
		background-color:#0099CC;
		color: white;
	}
	.Button_Social{
		background-color:transparent;
		padding: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		font-size: 2.5rem;
	}
}
